.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  place-items: center;
  padding: 92px 24px 92px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  margin-left: -8px;
}

.header__links-list-item {
  list-style: circle;
  font-size: 18.4px;
  font-weight: 400;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-position: under;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
 display: block;
}

.header__logo-image {
  max-width: 148px;
  max-height: 105px;
}

.address {
  justify-self: right;
  margin-right: 61px;
  font-weight: 400;
  font-size: 17.9px;
  letter-spacing: 0.1px;
}

.header__address {
  text-decoration: underline;
  text-underline-position: under;
  line-height: 135%;
  font-style: normal;
}

.header__address_no-line {
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}


.footer__address {
  margin-left: -9px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1px;
  font-style: normal;
  line-height: 135%;
}

.footer__address-item {
  text-decoration: underline;
  text-underline-position: under;
}

.footer__address_no-line {
  text-decoration: none;
}

.footer__menu {
  text-align: center;
  margin-left: 36px;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1px;
  font-style: normal;
  line-height: 120%;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  margin-right: 9px;
}


.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  max-width: 48px;
  max-height: 48px;
}